body {
    background-image: url('../images/BoardsWooden.jpg');
    width: 100vw; height: 100vh; overflow-x: hidden;
    display: inline-block; justify-content: center; 
}

.mongo-config-set {
    font-size: 3vw; color: rgb(255, 141, 167);
    display:flex;justify-content: center;align-items: flex-start;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(92, 9, 29), -0.1vw -0.1vw 0.1vw rgb(212, 0, 95), 0.1vw -0.1vw 0.1vw rgba(134, 0, 112, 0.768), -0.1vw 0.1vw 0.1vw rgb(3, 0, 3);
}

.config {
    display: flex; flex-direction: column; align-items: center;
    justify-content: center; height: 45%;
}

#mongodb-conf {
    color: rgba(244, 244, 255, 0.974); margin-top: 3vw;font-size: 1.5vw;
    font-weight: bold; text-align: center; box-shadow: 0 0 1vw rgba(0, 0, 0, 1.5);
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(1, 19, 53), -0.1vw -0.1vw 0.1vw rgb(2, 58, 41), 0.1vw -0.1vw 0.1vw rgb(13, 64, 247), -0.1vw 0.1vw 0.1vw rgba(1, 162, 255, 0.734);
}

#mongodb-conf textarea {
    background-color: rgb(253, 248, 248); color: black; font-size: 1.5vw;
    font-weight: bold; width: 95vw; margin: 0 auto; display: block;
}

#mongodb-uri { box-shadow: inset 0 0 1vw rgba(0, 0, 0, 1.5);}

.conf-submit{display:flex;justify-content:center;align-items:center;margin-top:2vw;}

.conf-submit button {
    background-image: url('../images/silver3.png'); background-position: center;
    background-size: cover; background-repeat: no-repeat; font-size: 3vw;
    color: rgba(255, 215, 0, 0.45); border-radius: 1vw;
    box-shadow: 0 0.5vw 0 0 rgba(127, 82, 54, 0.729);
    text-shadow: 0.1vw 0.1vw 0.1vw rgba(110, 80, 0, 0.9), -0.1vw -0.1vw 0.1vw rgba(255, 190, 35, 0.4), 0.1vw -0.1vw 0.1vw rgba(255, 200, 60, 0.4), -0.1vw 0.1vw 0.1vw rgba(110, 80, 0, 0.85);
    transition: all 0.1s ease-in-out;
}

.conf-submit button:hover {
    animation: blinkC 1s infinite;border: 0.5vw solid rgb(255, 255, 95);
}

@keyframes blinkC {
    0% {border-color: rgba(255, 250, 15, 0.3);}
    50% {border-color: transparent;}
    100% {border-color: rgb(255, 250, 15, 0.3);}
}

.conf-submit button:active {
    box-shadow: 0 0.2vw 0 0 rgba(0, 0, 0, 1.0);
    transform: translateY(0.3vw);
}

#custom-alert {
    display: flex; flex-direction: column; /* 子要素を縦方向に並べます */
    justify-content: center; text-align: center;margin-top: 5vh;
    align-items: center; /* 子要素を水平方向に中央寄せします */
    width: 100vw; height: auto; /* 高さを自動に設定します */ 
}

#custom-alert #alert-message {
    font-size: 1.5vw;font-weight: bold; width: 100%; height: auto;
    background-image: url('../images/silver.png'); background-position: center;
    background-size: cover;background-repeat: no-repeat;border: 0.75vw;
    margin-bottom: 1vh;text-align: center;
}

#custom-alert button.dialog {
    background-image: url('../images/silver3.png'); background-position: center;
    background-size: cover; background-repeat: no-repeat;font-size: 1.5vw;
    font-weight: bold;border: 0.75vw;border-radius: 0.75vw;
    width: auto; /* 幅を自動に設定します */
    height: auto; transition: all 0.1s ease-in-out;
}

#custom-alert button.dialog:hover {
    animation: blinkD infinite; border: 0.5vw solid rgb(255, 255, 95);
}

@keyframes blinkD {
    0% { border-color: rgb(255, 255, 95);}
    50% { border-color: transparent;}
    100% { border-color: rgb(255, 255, 95);}
}